@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Global Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables: Colors */
:root {
  --color-light-cream: #fff7f0;
  --color-black: #030303;
  --color-galatic-blue: #755cde;
  --color-summer-yellow: #f6a560;
  --color-pink: #f39e9e;
  --color-light-red: #eb7565;
  --color-cyan: #61c4b7;
  --color-dark-purple: #552049;
  --color-medium-brown: #7a746e;
  --color-dark-brown: #69645f;


  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  --font-body: 1rem;
  --font-body-md: 1.125rem;

  --container-size: 1111px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: var(--color-black);
  font-weight: bold;
}

p {
  color: var(--color-dark-brown);
}

a {
  text-decoration: none;
}

/* Font Sizes: Large Headings */
h1 {
  font-size: 2.25rem;
  line-height: 1.3;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.75rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}

/* Font Sizes: Medium Headings */
h2 {
  font-size: 1.625rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }
}

/* Font Sizes: Small Headings */
h3 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

p {
  font-size: var(--font-body);
}

body {
  background-color: var(--color-light-cream);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: var(--font-body);
  line-height: 1.5;
}

/* Wrapper */
.container {
  padding: var(--spacing-sm);
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 34px var(--spacing-sm);
  }
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-size);
  margin: auto;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__link img {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .nav__link img {
    width: 64px;
    height: 64px;
  }
}

.nav__btn {
  color: var(--color-light-cream);
  background-color: var(--color-black);
  font-size: 0.875rem;
  padding: 0.5rem 1.75rem;
  border-radius: 28px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  transition: all 0.3s ease-out;
}

.nav__btn:hover {
  background-color: var(--color-galatic-blue);
  color: var(--color-light-cream);
}

@media (min-width: 768px) {
  .nav__btn {
    height: 56px;
  }
}

/* Hero */
.hero {
  padding: var(--spacing-lg) 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-sm);

  text-align: center;
  margin: auto;
}

@media (min-width: 768px) {
  .hero__container {
    gap: 1.6875rem;
    max-width: 690px;
  }
  .hero__container p {
    max-width: 573px;
    margin: auto;
    font-size: var(--font-body-md);
  }
}

@media (min-width: 1024px) {
  .hero__container {
    gap: var(--spacing-md);
    max-width: 752px;
  }

  .hero__container p {
    max-width: 720px;
  }
}